.home_container{
    width: 100vw;
    height: 100vh;
    padding-top: 30px;
}



.myframe{
    position: fixed;
    top: 0;
    left: 0;
    /* border: 1px #2fa5ff dashed; 
    z-index: 1; */
    /* width: 100%;
    height: 100%;  */
}




.home_recording{
    position: fixed;
    top: 0;
    left: 50%;
    transform:translate(-50%, 0%);
    z-index: 2;
    background-color: #2fa5ff;
    color: white;
    padding: 1px 10px 5px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    font-size: 8px;
    font-weight: 700;
}

.responsive-tab{
    position: fixed;
    display: flex;
    height: 20px;
    width: 100%;
    background-color: #e9e5e5;
   position: fixed;
   top:0;
   left: 0;
}

.four_k{
    width: 100px;
    height: 100%;
    background-color: #7E7E7E;
}

.laptop_L{
    width: 100px;
    height: 100%;
    background-color: #7E7E7E;
}

/* @media screen and (prefers-color-scheme: dark) {
    iframe {
      background-color: rgb(33, 33, 33);
    }
}

@media screen and (prefers-color-scheme: light) {
    iframe {
      background-color: rgb(248, 248, 248);
    }
} */